
# Python and Jupyter Class with Victor Godwin

Course Outline:

* Arithmetic operations using Python
* Solving problems using variables
* Evaluating conditions using Python lang.
* Combining conditions with logical operators

## Arithmetic Operations using Python

In [ ]:
3 + 4 + 9 + 10

In [ ]:
1000 - 201

In [ ]:
100.89 * (-2348)

In [ ]:
200 / 10

In [ ]:
200 // 10

In [ ]:
200 % 10

In [ ]:
10 ** 2

Understanding (BODMAS), Operators like `/` and `*` take precedence over other operators like `+` and `-` in mathematical conventions. You can use parentheses, i.e. `(` and `)`, to specify the order in which operations are performed.

In [ ]:
((4 + 12) * (5 - 2)) / (10 ** 3)

Types of Arithmetic operators:

| Operator   | Interpretation         | Example     | Result    |
|------------|-------------------|-------------|-----------|
| `+`        | Addition          | `23 + 10`     | `33`       |
| `-`        | Subtraction       | `1000 - 201`     | `799`       |
| `*`        | Multiplication    | `8 * 12`    | `96`      |
| `/`        | Division          | `200 / 10`   | `20.0` |
| `//`       | Floor Division    | `200 // 10`  | `20`      |    
| `%`        | Modulus/Remainder | `200 % 10`   | `0`       |
| `**`       | Exponent          | `10 ** 2`    | `100`     |

## Using the Arithmentic Oprators above, solve the following:
Create cells bellow to solve the following

1. The population of a town is 198568. Out of them 45312 are men and 35678 are women. Find the number of children in the town.

2. A shopkeeper has 2425 boxes of 24 pencils each. How many pencils do all the boxes have in all?

3. Linda bought a coat for $2265 and a saree for $2150. She gave $5000 to the shopkeeper. How much money did the shopkeeper return to her?

4. The cost of 21 TV sets is $95844. Find the cost of one TV set.

5. A factory produces 24532 bulbs in a month. What is its annual production?

## Solving multi-step problems using variables

Let's attempt solving the following word problem: 

> Mark has provision shop and sells a pack of lollipop for $2, and makes a 30% profit. If he sells 1000 packs of lollipop, how much total profit does he make?

We can list out the information provided and store them in their unique and gradually convert the word problem into a mathematical expression that can be evaluated.

*Mark_cost_of_lollipop ($)* = 2

*profit_margin* = 30% = 0.3

*profit_per_lollipop ($)* = profit_margin * Mark_cost_of_lollipop = .3 * 2

*total_No_of_lollipop* = 1000

*total_profit =  1000 * (2*0.3)

*Total profit* = total_No_of_lollipop * profit_per_lollipop = 1000 * (.3 * 2)

In [ ]:
1000 * (.3 * 2)

Mark makes total profit of $600. While this is a good way to approach the problem, it's not entirely clear by looking at the code cell what the numbers represent. We can give names to each of the numbers by creating Python *variables*.

> **Variables**: in programming language as Python, are like containers that stores informations which is called data. The data stored within a variable is called its *value*.

In [ ]:
Mark_cost_of_lollipop = 2

In [ ]:
profit_margin = 0.3

In [ ]:
total_No_of_lollipop = 1000

You can call any of the variables above have to know their values any cell in this notebook. Example

In [ ]:
Mark_cost_of_lollipop

Alright, lets go on...

In [ ]:
profit_per_lollipop = profit_margin * Mark_cost_of_lollipop

In [ ]:
profit_per_lollipop

In [ ]:
Total_profit = total_No_of_lollipop * profit_per_lollipop

In [ ]:
Total_profit

Utilizing suitably named variables to store and manipulate data is an effective approach to elucidate the purpose of your code.

To exhibit the outcome of the word problem with a user-friendly message, we can accomplish this by employing the `print` *function*.

> **Functions**: Functions are reusable sets of instructions. They receive one or more inputs, execute specific operations, and frequently produce an output. Python offers numerous built-in functions such as `print` and additionally allows us to define custom functions.

In [ ]:
print("Mark makes a total profit of $", Total_profit ," each time he sells a 1000 sticks of lollipop.")

The process of creating a separate code cell for every variable or mathematical operation can become monotonous. Thankfully, Jupyter enables you to write multiple lines of code within a single code cell. The output displayed is determined by the result of the last line of code within the cell.

Let's rewrite the solution into a single cell.

In [ ]:
#Data in their Variables
Mark_cost_of_lollipop = 2
profit_margin = 0.3
total_No_of_lollipop = 1000

#calling above variables for calculation. Store the calculation in another variable
profit_per_lollipop = profit_margin * Mark_cost_of_lollipop
Total_profit = total_No_of_lollipop * profit_per_lollipop

#display the result using the PRINT function
print("Mark makes a total profit of $", Total_profit ," each time he sells a 1000 sticks of lollipop.")

In [ ]:
# Less than or equal check - True
3 + 6 <= 9

Note: the `#` character used in the cell above is what is called *comment* in programming. 

> **Comments**: Comments are not executed as part of the code, but they serve as helpful notes for humans (including yourself) to understand what the code does. Comments can be placed after a line of code, on a separate line, or even cover multiple lines to provide information and explanations of what the code is all about. 

Pyhton's Inline and single-line comments start with `#`, whereas multi-line comments begin and end with three quotes, i.e. `"""`. Here are some examples of code comments:

In [ ]:
Mark_cost_of_lollipop = 2 #inline comment

In [ ]:
#internal comment
Mark_cost_of_lollipop = 2

In [ ]:
"""This is a Multi line Python comment 
=====and single-line comments start with `#`, 
whereas multi-line comments begin and end with three quotes, 
. Here are some examples of code comments:"""

Mark_cost_of_lollipop = 2

# Assignment
> **EXERCISE 1**: 
A Nigeria travel company plans to organize a trip to the South Africa by flying a plane. The cost of flying the plane is $3000. Currently, there are 40 people who have registered for the trip. If the company charges $120 per ticket, what will be the profit made by the company? Create variables for each numerical value and utilize suitable arithmetic operations to calculate the profit.

## Evaluating conditions.

Apart from arithmetic operations, Python also provides several operations for comparing numbers & variables. It is called Comparison Operator

| Operator    | Description                                                     |
|-------------|-----------------------------------------------------------------|
| `==`        | Check if operands are equal                                     |
| `!=`        | Check if operands are not equal                                 |
| `>`         | Check if left operand is greater than right operand             |
| `<`         | Check if left operand is less than right operand                |
| `>=`        | Check if left operand is greater than or equal to right operand |
| `<=`        | Check if left operand is less than or equal to right operand    |

The result of a comparison operation is either `True` or `False` (note the uppercase `T` and `F`). These are special keywords in Python. Let's try out some experiments with comparison operators.

In [ ]:
Goats = 4
Chicken = 5
Cows = 3
Horses = 4

In [ ]:
# Equality check - True
Goats == 1
Goats == Horses

In [ ]:
# Equality check - False
Goats == Chicken

In [ ]:
# Not equal check - True
Goats != Cows

In [ ]:
# Not equal check - False
Goats != 3

In [ ]:
# Greater than check - True
Chicken > Cows

In [ ]:
# Greater than check - False
Goats > Chicken

In [ ]:
# Less than check - True
Goats < 10

In [ ]:
# Less than check - False
Chicken < Goats

In [ ]:
# Greater than or equal check - True
Goats >= 1

In [ ]:
# Greater than or equal check - False
Goats >= 3

In [ ]:
# Less than or equal check - True
4 + 10 <= 18

In [ ]:
# Less than or equal check - False
Goats + Cows <= 3

Just like arithmetic operations, the result of a comparison operation can also be stored in a variable.

In [ ]:
Mark_cost_of_lollipop = 2
lollipop_is_expensive = Mark_cost_of_lollipop >= 5
print("Is the lollipop expensive?", lollipop_is_expensive)

## 3. Combining conditions with logical operators

The logical operators `and`, `or` and `not` operate upon conditions and `True` & `False` values (also known as *booleans*). `and` and `or` operate on two conditions, whereas `not` operates on a single condition.

The `and` operator returns `True` when both the conditions evaluate to `True`. Otherwise, it returns `False`.

| `a`     | `b`    | `a and b` |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `False`   |
|  `False`| `True` | `False`   |
|  `False`| `False`| `False`   |

In [ ]:
Goats

In [ ]:
Goats > 0 and Goats <= 3

In [ ]:
Goats < 0 and Goats <= 3

In [ ]:
Goats > 0 and Goats >= 3

In [ ]:
True and False

In [ ]:
True and True

The `or` operator returns `True` if at least one of the conditions evaluates to `True`. It returns `False` only if both conditions are `False`.

| `a`     | `b`    | `a or b`  |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `True`    |
|  `False`| `True` | `True`    |
|  `False`| `False`| `False`   |

In [ ]:
Cows = 3

In [ ]:
Cows == 3 or Chicken < 0

In [ ]:
Cows != 3 or Goats < 0

In [ ]:
Goats < 0 or True

In [ ]:
False or False

The `not` operator returns `False` if a condition is `True` and `True` if the condition is `False`.

In [ ]:
not Cows == 3

In [ ]:
not Goats < 0

In [ ]:
not False

In [ ]:
not True

Logical operators can be combined to form complex conditions. Use round brackets or parentheses `(` and `)` to indicate the order in which logical operators should be applied.

In [ ]:
(2 > 3 and 4 <= 5) or not (Goats < 0 and True)

In [ ]:
not (True and 0 < 1) or (False and True)

If parentheses are not used, logical operators are applied from left to right.

In [ ]:
not True and 0 < 1 or False and True

# Do every assignments in this notebook.